:root{
      --card-bg:#f8f9fa;
}

.hero-bg img{
      height:90vh;
}
.hero-bg .carousel-caption {
	bottom: 17.3rem;
}
  .col-lg-4 .card {
      --bs-card-border-radius: 0 0 0.375rem  0.375rem;
}
.card-area{
      background: var(--card-bg);
}
.hero-bg .carousel-caption {
	bottom: 44%;
	top: 42%;
}